$font__main: Arial, sans-serif;
$font__code: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
$font__pre: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
